node_modules
.pnpm-debug.log
.idea
.vscode
.pnpm-store
.vercel
.algolia/.env
__tests__/e2e/__image_snapshots__/
.act.env
bin/
src/.vite-inspect/
.vitepress/cache/
.vitepress/dist/
repos/
external/

# shiki
src/public/shiki

# embeddings
src/frontends/
src/frontends
src/docs/
src/docs
src/resources/admin-extension-sdk/
src/resources/admin-extension-sdk
src/resources/meteor-icon-kit/
src/resources/meteor-icon-kit
src/resources/meteor-component-library/
src/resources/meteor-component-library
src/release-notes/
src/release-notes
