.c-link-line {
    @apply flex gap-x-8 gap-y-6 items-center justify-center py-3 relative flex-col md:flex-row;

    &::before {
        @apply absolute;
        content: '';
        display: block;
        top: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        background: var(--sw-c-gray-100);
        .dark & {
            background: var(--sw-c-gray-dark-700);
        }
    }

    a {
        @apply flex gap-2 items-center text-xs font-semibold;
        --icon-size: 1.25rem;
    }
}

.VPNavBar .container > .title {
    flex-shrink: 1;
}

.content-container {
    @apply flex flex-col;

    .SwagRelatedArticles {
        order: 10;
    }
}

[disabled] {
    cursor: not-allowed;
    opacity: .5;
}

.SwagRelatedArticles {
    .PageRef {
        @apply py-4;
    }
    .PageRef_url {
        @apply hidden;
    }
}
