name: Build and deploy
concurrency: single

on:
  workflow_dispatch:
    inputs:
      source:
        description: 'Source of event'
        required: false
        default: 'No source specified'
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test-cli:
    name: Test CLI
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Prepare
        uses: ./.github/actions/checkout-install

      - name: Test CLI
        env:
          GITLAB_FRONTENDS_USERNAME: ${{ secrets.GITLAB_FRONTENDS_USERNAME }}
          GITLAB_FRONTENDS_ACCESS_KEY: ${{ secrets.GITLAB_FRONTENDS_ACCESS_KEY }}
          FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}
          FIGMA_FILE: ${{ secrets.FIGMA_FILE }}
        run: pnpm test:cli

  embed-docs:
    name: Embed docs
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Prepare
        uses: ./.github/actions/checkout-install

      # @T00D00 - "pnpm run build" fails with symlinks
      - name: Clone sub-docs
        env:
          GITLAB_FRONTENDS_USERNAME: ${{ secrets.GITLAB_FRONTENDS_USERNAME }}
          GITLAB_FRONTENDS_ACCESS_KEY: ${{ secrets.GITLAB_FRONTENDS_ACCESS_KEY }}
          FIGMA_TOKEN: ${{ secrets.FIGMA_TOKEN }}
          FIGMA_FILE: ${{ secrets.FIGMA_FILE }}
        run: |
          chmod +x ./.github/scripts/embed.sh
          .github/scripts/embed.sh
          ls -la ../..
          ls -la ..
          ls -la .
          ls -la ./src
          ls -la ./src/resources

      - name: Zip folder
        run: |
          zip -r embed.zip ./src/
          cd src && zip -r db-index.zip * -i '*.md' -x '*/node_modules/*' -x '*/_source/*'

      - name: Upload build
        uses: actions/upload-artifact@v3
        with:
          if-no-files-found: error
          name: embed-${{ github.sha }}
          path: embed.zip

      - name: Upload DB index
        uses: actions/upload-artifact@v3
        with:
          if-no-files-found: error
          name: db-index-${{ github.sha }}
          path: db-index.zip

  test-dev:
    name: Test dev
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs: embed-docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Prepare
        uses: ./.github/actions/checkout-install
        with:
          apt: true

      - uses: actions/download-artifact@v3
        with:
          name: embed-${{ github.sha }}

      - name: Unzip artifact
        run: |
          unzip -o embed.zip

      - name: Test
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          pnpm run test

  test-build:
    name: Test build
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: embed-docs
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Prepare
        uses: ./.github/actions/checkout-install
        with:
          apt: true

      - uses: actions/download-artifact@v3
        with:
          name: embed-${{ github.sha }}

      - name: Unzip artifact
        run: |
          unzip -o embed.zip

      - name: Build project
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          pnpm run build

      - name: Test
        run: |
          export NODE_OPTIONS="--max-old-space-size=4096"
          pnpm run test:build

      - name: Zip folder
        run: zip -r full-build.zip .vitepress/dist/

      - name: Upload build
        uses: actions/upload-artifact@v3
        with:
          if-no-files-found: error
          name: full-build-${{ github.sha }}
          path: full-build.zip

  deploy-vercel:
    name: Deploy to Vercel
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs:
      - test-cli
      - test-dev
      - test-build
    env:
      VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
      VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - uses: actions/download-artifact@v3
        with:
          name: full-build-${{ github.sha }}

      - name: Unzip artifact
        run: |
          mkdir -p .vitepress/dist
          unzip full-build.zip
          ls -la .vitepress/dist

      - name: Install Vercel CLI
        run: npm install -g vercel@latest

      - name: Pull Vercel Environment Information
        run: |
          VERCEL_ENV="preview"
          VERCEL_ENV_FLAG=""
          if [[ "${{github.ref}}" == "refs/heads/main" ]]; then
            VERCEL_ENV="production"
            VERCEL_ENV_FLAG="--prod"
          fi
          
          vercel pull --yes --environment=$VERCEL_ENV --token=${{ secrets.VERCEL_TOKEN }} --scope=${{ secrets.VERCEL_ORG_ID }}
          vercel build ./.vitepress/dist --token=${{ secrets.VERCEL_TOKEN }} $VERCEL_ENV_FLAG
          vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }} $VERCEL_ENV_FLAG > ./vercel.env
  
  rebuild-index:
    name: Send documents
    runs-on: ubuntu-latest
    timeout-minutes: 5
    needs:
    #  - deploy-vercel
      - embed-docs

    steps:
      - uses: actions/download-artifact@v3
        with:
          name: db-index-${{ github.sha }}

      - name: Send artifact
        env:
          AI_INDEX_ENDPOINT: ${{ secrets.AI_INDEX_ENDPOINT }}
        run: |
          COLLECTION_PARAM=""
          if [[ "${{github.ref}}" != "refs/heads/main" ]]; then
            BRANCH=$(echo "${{ github.ref }}" | sed 's/refs\/heads\///' | tr '[:upper:]' '[:lower:]' | tr '/' '_')
            COLLECTION_PARAM="-F collection=shopware--developer-portal--$BRANCH"
          fo
          curl -v -F upload=@db-index.zip $COLLECTION_PARAM $AI_INDEX_ENDPOINT