# this action is used by sub-repos
# it dispatches a Create PR action in developer-portal
on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
      repository:
        required: true
        type: string
    secrets:
      access_token:
        required: true

jobs:
  trigger:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger developer-portal
        run: |
          curl \
            -X POST \
            --fail-with-body \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.access_token }}"\
            -H "X-GitHub-Api-Version: 2022-11-28" \
            https://api.github.com/repos/shopware/developer-portal/actions/workflows/create-pr.yml/dispatches \
            -d '{"ref":"DX-250","inputs":{"branch":"${{ inputs.branch }}","repository":"${{ inputs.repository }}"}}'
    #- name: Trigger developer-portal
    #  uses: peter-evans/repository-dispatch@v2
    #  with:
    #    token: ${{ secrets.access_token }}
    #    repository: shopware/developer-portal
    #    event-type: create-pr
    #    client-payload: '{"branch": "${{ github.event.inputs.branch }}", "repository": "${{ github.event.inputs.repository }}"}'